{% extends "index.html" %} 

{% block content %}
<div class="flex-container">
  <div class="flex-item-left">
    <h3>Parking Place:</h3>
    <h3>LPN:</h3>
    <h3>Total:</h3>
  </div>
  <div class="flex-item-center">
    <h3>{{ customer.id|safe }}</h3>
    <h3>{{ customer.lpn|safe }}</h3>
    <h3>{{ customer.display_amount|safe }} EUR</h3>
  </div>
  <div class="flex-item-right">
    <div class="lpn">
      <form action="{{ url_for('pay') }}" method="post" class="action">
        <input name="pp" type="hidden" value="{{ customer.id|safe }}" />
        <input name="lpn" type="hidden" value="{{ customer.lpn|safe }}" />
        <input name="amount" type="hidden" value="{{ customer.amount|safe }}" />
        <input type="submit" name="button" value="Pay" />
        <input type="submit" name="button" value="Abort" />
        <input type="submit" name="button" value="Status">
        <input type="submit" name="button" value="Diagnose">
      </form>
    </div>
  </div>
</div>
{% endblock %}
